<ons-page id="home">
  <div class="content d-flex flex-column page--gradient">
    <div class="my-auto">
      <div class="header-home">
        <div class="logo">
          <img src="img/logo.png" alt="Logo">
        </div>
        <h1 class="text-logo">Sa E-Doa</h1>
        <span class="app-name">Sistem Aplikasi <br>Elektronik Data Organisasi Agama</span>
      </div>
      <div class="app-menu app-menu__holder">
        <ons-row>
          <ons-col width="50%">
            <ons-button class="shortcut" onclick="Navigator.pushPage('pages/menu.html')">
              <div class="shortcut-img">
                <img src="img/icon/form.png" alt="Form Icon">
              </div>
              <span class="shortcut-title">Input Data</span>
            </ons-button>
          </ons-col>
          <ons-col width="50%">
            <ons-button class="shortcut" onclick="Navigator.pushPage('pages/statistic.html')">
              <div class="shortcut-img">
                <img src="img/icon/statistic.png" alt="Stat Icon">
              </div>
              <span class="shortcut-title">Statistik</span>
            </ons-button>
          </ons-col>
          <ons-col width="50%">
            <ons-button class="shortcut" onclick="Navigator.pushPage('pages/regulasi.html')">
              <div class="shortcut-img">
                <img src="img/icon/rules.png" alt="Rules Icon">
              </div>
              <span class="shortcut-title">Regulasi</span>
            </ons-button>
          </ons-col>
          <ons-col width="50%">
            <ons-button class="shortcut" onclick="Navigator.pushPage('pages/information.html')">
              <div class="shortcut-img">
                <img src="img/icon/information.png" alt="Rules Icon">
              </div>
              <span class="shortcut-title">Informasi</span>
            </ons-button>
          </ons-col>
          <ons-col width="50%">
            <ons-button class="shortcut" onclick="profile()">
              <div class="shortcut-img">
                <img src="img/icon/user.png" alt="User Icon">
              </div>
              <span class="shortcut-title">Profil</span>
            </ons-button>
          </ons-col>
          <ons-col width="50%">
            <ons-button class="shortcut" onclick="doLogout()">
              <div class="shortcut-img">
                <img src="img/icon/power.png" alt="Form Icon">
              </div>
              <span class="shortcut-title">Keluar</span>
            </ons-button>
          </ons-col>
        </ons-row>
      </div>
    </div>
    <div class="footer-cp mt-auto">
      <span class="cp-text">&copy; 2019 Papua Barat Allright Reserved</span>
    </div>
  </div>
</ons-page>