@import 'config';
body {
  font-family: $font;
}
/**
 * Replace Color
 */
.page_background {
  background-color: $bg-default;
}
.page--material {
  &__background {
    background-color: $bg-default;
  }
}
.content-smoke {
  background-color: #efeff4 !important;
}
.text-input--material {
  height: 30px;
}

ons-back-button {
  svg {
    fill: $bg-text;
  }
}
.list-item--material__center,
.list-item--material__left:empty {
  border-bottom-color: transparent !important;
}
/**
 * my-page
 */
.page {
  &--black {
    background-color: $bg-black !important ;
  }
  &--gradient {
    background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%) !important;
  }
}
/**
 * Flex
 */
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.position-relative {
  position: relative !important;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.w-100 {
  width: 100%;
}
/**
 * Margin
 */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-auto {
  margin-top: auto;
}
.mt-3 {
  margin-top: 15px;
}
.mt-2 {
  margin-top: 10px;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 10px;
}
.p-3 {
  padding: 15px;
}
.p-2 {
  padding: 10px;
}
.pr-2 {
  padding-right: 10px;
}
.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}
.pt-3 {
  padding-top: 15px;
}
/**
 * Login Page
 */
.login-form {
  .logo,
  .form-holder {
    display: block;
  }
  .logo {
    text-align: center;
    margin-bottom: 20px;
    img {
      max-width: 80px;
      height: auto;
    }
    span {
      display: block;
      padding: 10px 0;
      text-align: center;
      font-size: 20px;
      color: $bg-default;
      font-weight: 300;
    }
  }
  .form-holder {
    max-width: 300px;
    @extend .mx-auto;
    ons-input {
      display: block;
      margin-bottom: 1rem;
      position: relative;

    }
    .text-input {
      &--material {
        color: $bg-default;
        border-radius: .25rem ;
        padding-left: 40px;
        height: 40px;
        background-image: none;
        background-color: rgba($bg-default, .2) !important;
        border: 1px solid rgba($bg-default, .3);
        transition: all ease-in-out .25s;
        &:focus {
          background-color: rgba($bg-default, .1) !important;
          ~ .text-input--material__labelt {
            color: rgba($bg-default, .3);;
          }
        }
      }
    }
    .text-input--material__label {
      left: 40px;
      top: 11px;
      font-size: 16px;
      color: rgba($bg-default, .6);
      transition: all ease-in-out .25s;
    }
    .icon-input {
      position: absolute;
      left: 13px;
      top: 10px;
      color: $bg-default;
      font-size: 20px;
    }
    ons-button {
      height: 40px;
      line-height: 43px;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: 0 2px 4px -1px rgba($bg-black, .1);
      &.reset-pass {
        box-shadow: none;
        font-size: 12px;
        color: $bg-default;
      }
    }
  }
}
/**
 * Input label Aktif
 */
.text-input--material__label--active {
  color: #4facfe;
  font-weight: bold;
}
/**
 * CopyRight Text
 */
.copyright-text {
  padding: 1rem 1rem 2rem;
  span {
    display: block;
    max-width: 280px;
    text-align: center;
    @extend .mx-auto;
    color: $bg-default;
    font-size: 12px;
    text-align: center;
  }
}
.cp-text {
  color: $bg-default;
  font-size: 14px;
  font-weight: 300;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
/**
 * Home
 */
.header-home {
  padding: 30px;
  .logo,
  .text-logo,
  .app-name {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 0 .3rem;
    text-align: center;
  }
  .logo {
    img {
      max-width: 70px;
      height: 75px;
    }
  }
  .text-logo {
    font-size: 24px;
    color: $bg-default;
    font-weight: 300;
  }
  .app-name {
    font-size: 14px;
    color: $bg-default;
    font-weight: 300;
  }
}
/**
 * App Menu
 */
.app-menu {
  // width: 100%;
  width: 100%;
  &__holder {
    max-width: 360px;
    @extend .mx-auto;
  }
}
/**
 * Shortcut Menu
 */
.shortcut {
  @extend .d-flex;
  @extend .mx-auto;
  max-width: 160px;
  @extend .flex-column;
  background-color: $bg-default;
  box-shadow: none;
  border-radius: .25rem;
  margin-bottom: 20px;
  padding: 2rem 1rem;
  @media(max-width: 330px) {
    max-width: 140px;
    padding: 1rem;
  }
  &-img,
  &-title {
    text-align: center;
    position: relative;
    margin: 0;
  }
  &-img {
    @extend .my-auto;
    img {
      max-width: 50px;
      height: auto;
    }
  }
  &-title {
    @extend .mb-0;
    color: $bg-dark;
    font-size: 14px;
  }
}
/**
 * Modal Bg
 */
.modal-transparent {
  background-color: transparent;
}
/**
 * Loading
 */
.loading {
  width: 40px;
  height: 40px;
  @extend .mx-auto;
  position: relative;
  border-radius: 50%;
  background-color: $bg-default;
  box-shadow: 0 3px 6px -1px rgba($bg-black, .3);
  &::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    bottom: 8px;
    right: 8px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left-color: #4facfe;
    animation: spinner 1s linear infinite;
    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }
  }
}