<ons-page id="form-input">
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center" id="title"></div>
    <div class="right pr-2">
      <ons-button modifier="outline" onclick="saveData()">
        <ons-icon icon="ion-md-save" size="20px"></ons-icon>
      </ons-button>
    </div>
  </ons-toolbar>
  <div class="content">
    <form id="form-data">
      <input type="hidden" name="lembaga_id">
      <input type="hidden" name="master_data_id">
      <ons-lit class="mt-3">
        <ons-list-item>
          <ons-row id="form-field">
            <!-- Form Was Here -->
          </ons-row>
        </ons-list-item>
      </ons-lit>
    </form>
  </div>
</ons-page>