<ons-page id="login">
  <div class="content d-flex flex-column page--gradient">
    <div class="login-form my-auto">
      <div class="logo">
        <img src="img/logo.png" alt="Logo">
        <span>Sa E-doa</span>
      </div>
      <div class="form-holder">
        <ons-row>
          <ons-col width="100%" class="position-relative">
            <i class="ion ion-md-contact icon-input"></i>
            <ons-input type="text" placeholder="Username" input-id="username"></ons-input>
          </ons-col>
          <ons-col width="100%" class="position-relative">
            <i class="ion ion-md-lock icon-input"></i>
            <ons-input type="password" placeholder="Password" input-id="password"></ons-input>
          </ons-col>
          <ons-button modifier="large" class="mb-3" onclick="doLogin()">Login</ons-button>
          <ons-button modifier="large--quiet" class="reset-pass">Lupa password ?</ons-button>
        </ons-row>
      </div>
    </div>
    <div class="copyright-text mb-0">
      <span>Sistem Aplikasi Elektronik Data Organisasi Agama</span>
    </div>
  </div>
</ons-page>