<ons-page id="menu">
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center">
      Menu
    </div>
  </ons-toolbar>
  <div class="content content-smoke mt-3">
    <ons-list id="list-menu">
      <!-- Menu was Here -->
    </ons-list>
  </div>
</ons-page>