<ons-page id="profile">
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center">Profil</div>
    <div class="right pr-2">
      <ons-button modifier="light">
        <ons-icon icon="ion-md-save" size="20px"></ons-icon>
      </ons-button>
    </div>
  </ons-toolbar>
  <div class="content mt-2">
    <ons-list id="profile-data">
      <!-- Profile data was Here -->
    </ons-list>
  </div>
</ons-page>