<ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button></ons-back-button>
      </div>
      <div class="center">
        Regulasi
      </div>
    </ons-toolbar>
    <div class="content">
      <h3>Coming soon</h3>
    </div>
  </ons-page>